<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mac-031B6874CF7F642A</key>
	<string>regulatory-022-6097.lpdf</string>
	<key>Mac-06F11F11946D27C5</key>
	<string>regulatory-022-00466.lpdf</string>
	<key>Mac-06F11FD93F0323C5</key>
	<string>regulatory-022-00466.lpdf</string>
	<key>Mac-189A3D4F975D5FFC</key>
	<string>regulatory-022-6347.lpdf</string>
	<key>Mac-27ADBB7B4CEE8E61</key>
	<string>regulatory-022-6097.lpdf</string>
	<key>Mac-2BD1B31983FE1663</key>
	<string>regulatory-022-6347.lpdf</string>
	<key>Mac-35C1E88140C3E6CF</key>
	<string>regulatory-022-6098.lpdf</string>
	<key>Mac-35C5E08120C7EEAF</key>
	<string>regulatory-022-01803.lpdf</string>
	<key>Mac-3CBD00234E554E41</key>
	<string>regulatory-022-6347.lpdf</string>
	<key>Mac-42FD25EABCABB274</key>
	<string>regulatory-022-00023.lpdf</string>
	<key>Mac-473D31EABEB93F9B</key>
	<string>regulatory-022-01763.lpdf</string>
	<key>Mac-65CE76090165799A</key>
	<string>regulatory-022-00654.lpdf</string>
	<key>Mac-66E35819EE2D0D05</key>
	<string>regulatory-022-01845.lpdf</string>
	<key>Mac-6F01561E16C75D06</key>
	<string>regulatory-022-5167.lpdf</string>
	<key>Mac-77EB7D7DAF985301</key>
	<string>regulatory-022-6097.lpdf</string>
	<key>Mac-7DF21CB3ED6977E5</key>
	<string>regulatory-022-6098.lpdf</string>
	<key>Mac-81E3E92DD6088272</key>
	<string>regulatory-022-00023.lpdf</string>
	<key>Mac-937CB26E2E02BB01</key>
	<string>regulatory-022-00465.lpdf</string>
	<key>Mac-9F18E312C5C2BF0B</key>
	<string>regulatory-022-00459.lpdf</string>
	<key>Mac-A369DDC4E67F1C45</key>
	<string>regulatory-022-00524.lpdf</string>
	<key>Mac-A5C67F76ED83108C</key>
	<string>regulatory-022-01846.lpdf</string>
	<key>Mac-B809C3757DA9BB8D</key>
	<string>regulatory-022-00654.lpdf</string>
	<key>Mac-BE0E8AC46FE800CC</key>
	<string>regulatory-022-00432.lpdf</string>
	<key>Mac-DB15BD556843C820</key>
	<string>regulatory-022-00654.lpdf</string>
	<key>Mac-E43C1C25D4880AD6</key>
	<string>regulatory-022-00458.lpdf</string>
	<key>Mac-F60DEB81FF30ACF6</key>
	<string>regulatory-022-6346.lpdf</string>
	<key>Mac-FA842E06C61E91C5</key>
	<string>regulatory-022-00023.lpdf</string>
	<key>Mac-FFE5EF870D7BA81A</key>
	<string>regulatory-022-00524.lpdf</string>
</dict>
</plist>
